.blue {
    
    color: rgb(244, 246, 245);
    background-color: rgb(84, 163, 163);
    margin: auto;
    
}
.green {
    color: rgb(254, 254, 254);
    background-color: rgb(102, 163, 84);
    margin: auto;

}
.red{
    color: rgb(255, 255, 254);
    background-color: rgb(163, 98, 84);
}
.black {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 76, 76);
}